:root {
    --blueColor: #04395e;
}

* {
    transition: all .3s;
}




/*.material-checkbox > p {*/
/*    font-weight: 600;*/
/*    font-size: 28px;*/
/*    margin: 0 35px 0 0;*/
/*    color: var(--blueColor);*/
/*    !*overflow: scroll;*!*/
/*    !*white-space: normal;*!*/
/*    flex-grow: 5;*/
/*}*/


/*.material-checkbox > p:hover {  !* to delete TASK on text CLICK ( O U T D A T E D)  *!*/
/*    color: red;*/
/*    cursor: pointer;*/
/*}*/

.material-checkbox__image {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    width: 35px;
    height: 35px;

    border: none;
    border-radius: 5px;
    transition: background-color .5s, border-color .5s;

    cursor: pointer;

    -webkit-box-shadow: inset 6px 8px 10px 0 #828282;
    box-shadow: inset 6px 8px 10px 0 #828282;

    margin-top: -15px;
    margin-left: -5px;
}
.material-checkbox__image::before {
    box-sizing: border-box;
    background-color: transparent;
    /*border-radius: 50%;*/
    content: "";
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    width: auto;
}

.material-checkbox__label {
    /*vertical-align: middle;*/
    /*color: rgba(0,0,0,0.87);*/
    /*cursor: pointer;*/
}



/* > label */
.material-checkbox {
    position: relative;
    /*padding-left: 30px;*/
    /*margin-bottom: 1em;*/

    /*color: rgba(0,0,0,0.54);*/
    display: flex;
    justify-content: space-between;
    /*flex-direction: row-reverse;*/

    font-weight: 600;
    font-family: Helvetica, sans-serif;

    padding: 10px;
    box-sizing: border-box;

    border-bottom: 1px solid #d5d5d5;

    /*border-radius: 5px;*/
}

.material-checkbox:hover {
    background: rgb(231, 245, 255);
    /*background: rgba(0, 0, 0, 0.36);*/
}

/*.material-checkbox__input:checked + body.task-done:hover {*/
/*    background: rgb(16, 140, 229);*/
/*}*/

/*.material-checkbox:nth-child(2n) {*/
/*    background: rgba(218, 236, 248, 0.73);*/
/*}*/

/*.material-checkbox:nth-child(2n):hover {*/
/*    background: rgba(49, 131, 189, 0.5);*/
/*}*/

.material-checkbox > label {
    border: none;
}

.material-checkbox > label:hover {
    background: none;
}

.material-checkbox:after {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 70px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    width: 0;
    height: 50px;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: #E19494;
    /*border-top: 0;*/
    /*border-bottom: 0;*/
    /*border-left: 0;*/
    content: "";
    /*border-right-color: rgba(255, 0, 0, 0.19);*/
    background-color: red;
}

.material-checkbox__input:focus + .material-checkbox__image::before {
    /*background-color: rgba(0,0,0,.12);*/
    background-color: rgb(255, 0, 0);
    left: -8px;
    top: -8px;
    right: -8px;
    bottom: -8px;
}

.material-checkbox__input:disabled + .material-checkbox__image,
.material-checkbox__input:disabled + .material-checkbox__image + .material-checkbox__label {
    cursor: default;
    /*color: rgba(0,0,0,0.38);*/
}

.material-checkbox__input:checked + .material-checkbox__image {
    background-color: rgb(188, 243, 185);
    /*background-color: rgb(126, 236, 120);*/
    /*z-index: 10;*/
}

/*.material-checkbox__input:checked + .material-checkbox__image:hover {*/
/*    background-color: rgb(188, 243, 185);*/
/*}*/

.material-checkbox__input:checked + .material-checkbox__image.md-ink-ripple {
    background-color: rgba(255,82,82,0.87);
    border-color: rgba(0,0,0,0);
}
.material-checkbox__input:checked + .material-checkbox__image::after {
    border-color: #429B3870;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 14px;
    top: 10px;
    display: table;
    width: 10px;
    height: 15px;
    border-bottom-width: 5px;
    border-right-width: 4px;
    border-style: solid;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    content: "";
}
.material-checkbox__input:checked + .material-checkbox__image::before {
    /*background-color: rgba(16,108,200,0.26);*/
}
.material-checkbox__input:checked + .material-checkbox__image.md-ink-ripple::before {
    background-color: rgba(255,82,82,0.26);
}

.material-checkbox__input:checked:disabled + .material-checkbox__image {
    background-color: rgba(0,0,0,0.38);
}
.material-checkbox__input:checked:disabled + .material-checkbox__image::before {
    display: none;
}

.material-checkbox__input_indeterminate + .material-checkbox__image::after {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: table;
    width: 12px;
    height: 2px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
}


/*.material-checkbox {*/
/*!* Common styles for the checkbox *!*/
/*!* Most likely you will customize left padding here *!*/
/*}*/
/*.material-checkbox__image {*/
/*                      !* Default state of the checkbox image *!*/
/*                      !* Right place to size, background-image of unchecked state *!*/
/*                    }*/
/*.material-checkbox__label {*/
/*                      !* Label styles (font styles mostly) *!*/
/*                    }*/

/*!* Some states of checkbox image *!*/
/*.material-checkbox__input:focus + .material-checkbox__image {*/
/*                                                          !* Focused and unchecked *!*/
/*                                                        }*/
/*.material-checkbox__input:disabled + .material-checkbox__image {*/
/*                                                             !* Disabled and unchecked *!*/
/*                                                           }*/
/*.material-checkbox__input:checked + .material-checkbox__image {*/
/*                                                            !* Checked *!*/
/*                                                          }*/
/*.material-checkbox__input:checked:focus + .material-checkbox__image {*/
/*                                                                  !* Focused and checked *!*/
/*                                                                }*/
/*.material-checkbox__input:checked:disabled + .material-checkbox__image {*/
/*                                                                     !* Disabled and checked *!*/
/*                                                                   }*/

/*!* Additional indeterminate states *!*/
/*.material-checkbox__input_indeterminate + .material-checkbox__image {*/
/*                                                                  !* Marks as indeterminate *!*/
/*                                                                }*/
/*.material-checkbox__input_indeterminate:focus + .material-checkbox__image {*/
/*                                                                        !* Indeterminate and focused *!*/
/*                                                                      }*/
/*.material-checkbox__input_indeterminate:disabled + .material-checkbox__image {*/
/*                                                                           !* Indeterminate and disabled *!*/
/*                                                                         }*/
